body {
    font-family: Georgia, 'Times New Roman', Times, serif, Arial, sans-serif;
}

.page {
    margin-top: 2em;
    margin-bottom: 2em;
}

a:active,
a:hover {
    outline: 0;
    outline-color: initial;
    outline-style: initial;
    outline-width: 0px;
}

.sidebar ul {
    list-style: none;
    list-style-type: none;
    list-style-position: initial;
    list-style-image: initial;
    padding-left: 0;
}

li {
    line-height: 200%;
}

.index-dropdown {
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 1s;
}

.index-dropdown.active {
    max-height: 300px;
}

.index-dropdown li {
    padding-left: 20px;
}

h1,
h2 {
    color: #527bbd;
    margin-top: 0.7em;
    margin-bottom: 0.3em;
    padding-bottom: 0.2em;
    line-height: 1.0;
    padding-top: 0.5em;
    border-bottom: 1px solid #aaaaaa;
}

h3 {
    color: #527bbd;
    margin-top: 0.7em;
    margin-bottom: 0.3em;
    padding-bottom: 0.2em;
    line-height: 1.0;
    padding-top: 0.5em;
}